/*
    By: Tyger Whitaker
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, ul, aside, figure, figcaption, video {
	margin: 0;
	padding: 0;
	border: 0;
}

/* Media Query for Mobile Viewport */
@media (min-width: 576px) { 
    
    .welcome {
        top: 20%;
        left: 5%;
        padding: 2em;
    }
	
	.header-container {
        top: 20%;
        left: 5%;
        padding: 2em;
    }
	
}

/* Media Query for Tablet Viewport */
@media (min-width: 768px) { 
    
    .welcome {
        top: 20%;
        left: 5%;
        padding: 2em;
    }
	
	.header-container {
        top: 20%;
        left: 5%;
        padding: 2em;
    }

}

/* Media Query for Desktop Viewport */
@media (min-width: 992px) { 
    
    .display-1 {
        font-size: 8em;
    }
	
}


.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)),url(../images/room-bg.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.welcome {
    position: absolute;
	top: 40%;
}

.header-container {
	text-align: left;
}

.display-1 {
  font-size: 4em;
}

.display-4 {
  font-size: 4em;
}

.main-bg {
	background-color: #000000;
}

.navbar-bg {
	background-color: #2b2b2b;
}

.footer-bg {
	background-color: #2b2b2b;
}

.light-text {
	color: #e4e4e4;
}

nav .navbar-brand {
	font-family: 'Comfortaa', cursive;
}

header h1, h2 {
	font-family: 'Comfortaa', cursive;
}

.row h1 {
	font-family: 'Comfortaa', cursive;
}

.nav-item {
	font-family: 'Comfortaa', cursive;
}

header .btn {
	font-family: 'Comfortaa', cursive;
}

/* Auction Nudge Customization */

/* Text colour of headings, cells and links */
div#auction-nudge-items table.columns th,
div#auction-nudge-items table.columns td,			
div#auction-nudge-items table.columns td a {
	color: #e4e4e4;
}
/* Add a white border between rows */
div#auction-nudge-items table.columns td {
  border-top: 1px solid #999999;			
}
/* All rows */
div#auction-nudge-items table.columns tr {
	background-color: #2b2b2b;
}
/* Every other row */			
div#auction-nudge-items table.columns tr.alt {
	background-color: #393939;
}

/* Search Box customization for Auction Nudge */

/* Change the border color */
div#auction-nudge-items div.an-search-box {
	border-color: #999999;
}
/* Change the background color and text color of search button */
div#auction-nudge-items div.an-search-submit {
	background-color: #393939;
	color: #e4e4e4;
	border-radius: 8px;
}	

/* Pagination customization for Auction Nudge */

/* Change the background color */
div#auction-nudge-items ul.an-page-wrap {
  background-color: #393939;
}

/* Link color */
div#auction-nudge-items ul.an-page-wrap li {
  color: #e4e4e4;
}
/* Inactive button visiblity */
div#auction-nudge-items ul.an-page-wrap li.an-inactive  {
  display: none;
}